.tasks-list {
  padding: 0 20px 10px;
  border-bottom: var(--dark) 1px solid;
  margin-bottom: 20px;
}

.tasks-empty {
  text-align: center;
  font-size: 18px;
  color: var(--dark);
  margin: 20px;
}
