:root {
  --black: #000;
  --white: #fff;
  --dark: #333;
  --red: #d72b26;
  --green: #77d91f;
}

@font-face {
  font-family: Montserrat;
  src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: Montserrat, sans-serif;
}

button {
  border: none;
  background: var(--dark);
  color: var(--white);
  cursor: pointer;
  transition: 0.15s;
}

button:hover {
  filter: brightness(90%);
}

button:active {
  filter: brightness(80%);
}

input,
textarea {
  border: none;
  border-bottom: var(--dark) 2px solid;
  padding: 6px;
  outline: none;
}

#root {
  max-width: 360px;
  margin: auto;
  position: relative;
}

.button-active {
  background: var(--white);
  color: var(--dark);
}

.hidden {
  display: none !important;
}
