.notification {
  position: absolute;
  top: 90vh;
  color: var(--dark);
  background: var(--white);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  text-align: center;
  cursor: default;
  transition: 0.5s;
}

.notification-visible {
  opacity: 1;
  transform: translateY(-100%);
}

.notification-hidden {
  opacity: 0;
}

.notification-success {
  border: var(--green) 2px solid;
}

.notification-warning {
  border: var(--red) 2px solid;
}
